all:
  children:
    homelab:
      hosts:
        nginx-gateway:
          ansible_host: x.x.x.x # Example IP
          ansible_user: ansible
          ansible_python_interpreter: /usr/bin/python3
          ansible_become_method: sudo
          system_shell: /bin/bash
          os_family: Debian
          host_roles:
            - base
            - monitoring-hl
            - nginx_gateway
          hostname: nginx-gateway
        sharkey:
          ansible_host: x.x.x.x # Example IP
          ansible_user: ansible
          ansible_python_interpreter: /usr/bin/python3
          ansible_become_method: sudo
          system_shell: /bin/bash
          os_family: Debian
          host_roles:
            - base
            - monitoring-hl
            - sharkey
          hostname: sharkey
        gitlab:
          ansible_host: x.x.x.x # Example IP
          ansible_user: ansible
          ansible_python_interpreter: /usr/bin/python3
          ansible_become_method: sudo
          system_shell: /bin/bash
          os_family: Debian
          host_roles:
            - base
            - monitoring-hl
            - gitlab
          hostname: gitlab
        searxng:
          ansible_host: x.x.x.x # Example IP
          ansible_user: ansible
          ansible_python_interpreter: /usr/bin/python3
          ansible_become_method: sudo
          system_shell: /bin/bash
          os_family: Debian
          host_roles:
            - base
            - monitoring-hl
            - searxng
          hostname: searxng
        torrent-down:
          ansible_host: x.x.x.x # Example IP
          ansible_user: ansible
          ansible_python_interpreter: /usr/bin/python3
          ansible_become_method: sudo
          system_shell: /bin/bash
          os_family: Debian
          host_roles:
            - base
            - monitoring-hl
            - torrent-down
          hostname: torrent-down
        immich:
          ansible_host: x.x.x.x # Example IP
          ansible_user: ansible
          ansible_python_interpreter: /usr/bin/python3
          ansible_become_method: sudo
          system_shell: /bin/bash
          os_family: Debian
          host_roles:
            - base
            - monitoring-hl
            - immich
          hostname: immich
        observability:
          ansible_host: x.x.x.x # Example IP
          ansible_user: ansible
          ansible_python_interpreter: /usr/bin/python3
          ansible_become_method: sudo
          system_shell: /bin/bash
          os_family: Debian
          host_roles:
            - base
            - observability
          hostname: observability
        buildhost:
          ansible_host: x.x.x.x # Example IP
          ansible_user: ansible
          ansible_python_interpreter: /usr/bin/python3
          ansible_become_method: sudo
          system_shell: /bin/bash
          os_family: Debian
          host_roles:
            - base
          hostname: buildhost
        navidrome:
          ansible_host: x.x.x.x # Example IP
          ansible_user: ansible
          ansible_python_interpreter: /usr/bin/python3
          ansible_become_method: sudo
          system_shell: /bin/bash
          os_family: Debian
          host_roles:
            - base
            - monitoring-hl
            - navidrome
          hostname: navidrome
        unificontroller:
          ansible_host: x.x.x.x # Example IP
          ansible_user: ansible
          ansible_python_interpreter: /usr/bin/python3
          ansible_become_method: sudo
          system_shell: /bin/bash
          os_family: Debian
          host_roles:
            - base
            - monitoring-hl
            - unificontroller
          hostname: unificontroller
        filescdn:
          ansible_host: x.x.x.x # Example IP
          ansible_user: ansible
          ansible_python_interpreter: /usr/bin/python3
          ansible_become_method: sudo
          system_shell: /bin/bash
          os_family: Debian
          host_roles:
            - base
            - monitoring-hl
            - filescdn
          hostname: filescdn
    vpses:
      hosts:
        vps1:
         ansible_host: x.x.x.x  # Example IP - replace with your VPS IP
         ansible_user: ansible
         ansible_python_interpreter: /usr/bin/python3
         ansible_become_method: sudo
         system_shell: /bin/bash
         os_family: Debian
         host_roles:
           - base
           - monitoring-vps
         hostname: vps1
        vps2:
         ansible_host: x.x.x.x  # Example IP - replace with your VPS IP
         ansible_user: ansible
         ansible_python_interpreter: /usr/bin/python3
         ansible_become_method: sudo
         system_shell: /bin/bash
         os_family: Debian
         host_roles:
           - base
           - monitoring-vps
         hostname: vps2
        vps3:
         ansible_host: x.x.x.x  # Example IP - replace with your VPS IP
         ansible_user: ansible
         ansible_python_interpreter: /usr/bin/python3
         ansible_become_method: sudo
         system_shell: /bin/bash
         os_family: Debian
         host_roles:
           - base
           - monitoring-vps
         hostname: vps3
        vps4:
         ansible_host: x.x.x.x  # Example IP - replace with your VPS IP
         ansible_user: ansible
         ansible_python_interpreter: /usr/bin/python3
         ansible_become_method: sudo
         system_shell: /bin/bash
         os_family: Debian
         host_roles:
           - base
           - monitoring-vps
         hostname: vps4
