[Unit]
Description=qBittorrent BitTorrent client
After=network-online.target mnt-torrents.mount
Wants=network-online.target
Requires=network-online.target mnt-torrents.mount
BindsTo=mnt-torrents.mount

[Service]
Type=simple
User=torrent
Group=torrent
ExecStart=/usr/bin/qbittorrent-nox --webui-port=8080
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target