{"username":"admin","password":"{{ flood_hash }}","client":{"client":"qBittorrent","type":"web","version":1,"url":"http://localhost:8080","username":"admin","password":"{{ initial_password }}"},"level":10,"timestamp":1630000000,"_id":"{{ flood_id }}"}
{"$$indexCreated":{"fieldName":"username","unique":true,"sparse":false}}
{"$$indexCreated":{"fieldName":"username","unique":true}}
