[Unit]
Description=Nginx HTTP Server for FileCDN
Documentation=http://nginx.org/en/docs/
After=network-online.target mnt-filescdn.mount
Wants=network-online.target
Requires=mnt-filescdn.mount
BindsTo=mnt-filescdn.mount

[Service]
Type=forking
PIDFile=/run/nginx.pid
ExecStartPre=/usr/sbin/nginx -t -q -g 'daemon on; master_process on;'
ExecStart=/usr/sbin/nginx -g 'daemon on; master_process on;'
ExecReload=/bin/sh -c "/bin/kill -s HUP $(/bin/cat /run/nginx.pid)"
ExecStop=/bin/sh -c "/bin/kill -s TERM $(/bin/cat /run/nginx.pid)"
TimeoutStopSec=5
KillMode=mixed
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
